*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.challenge-container{
    width:100%;
    height:100vh;
    background-color: lightgray;
    border: 5px solid black;
}

.c-1-b-1{
    display:block;
    width:100vw;
    height:33%;
    background-color:green;
}

.c-1-b-2{
    display:block;
    width:100vw;
    height:33vh;
    background-color:orange;
}

.c-1-b-3{
    display:block;
    width:100vw;
    height:33vh;
    background-color:blue;
}