*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.challenge-container{
    width:100%;
    height:100vh;
    background-color: lightgray;
    border: 5px solid black;
}

.c-1-b-1{
    display:block;
    width:100vw;
    height:33%;
    background-color:green;
}

.c-1-b-2{
    display:block;
    width:100vw;
    height:33vh;
    background-color:orange;
}

.c-1-b-3{
    display:block;
    width:100vw;
    height:33vh;
    background-color:blue;
}

.html-style{
    background-color:green;
    display:inline;
    width:15%;
    height:10vh;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    margin:5px;
}

.css-style{
    background-color: blue;
    width: 15%;
    height:10vh;
    text-align:center;
    display:inline;
    padding:7px;
    border-radius:5px ;
    margin:5px;
}

.java-style{
    background-color: purple;
    width:15%;
    height:10vh;
    text-align: center;
    display: inline;
    padding: 7px;
    border-radius: 5px;
    margin: 5px;
}

.design-style{
    background-color: palevioletred;
    width: 15%;
    height:10vh;
    text-align: center;
    display:inline;
    padding: 7px;
    border-radius: 5px;
    margin:5px;
}

.layout-style{
    background-color: orange;
    width: 15%;
    height:10vh;
    text-align: center;
    display: inline;
    padding:7px;
    border-radius: 5px;
    margin: 5px;
}

.nav-bar{
    background-color: black;
    border-radius: 11px;
    padding: 17px;
    width:25vw;
    margin:7px;
}

.home-button{
    color:white;
    background-color: green;
    width:20px;
    height:60%;
    text-align: center;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.about-button{
    color:white;
    width: 20px;
    height:60%;
    text-align: center;
    display:inline;
    padding: 7px;
    border-radius:5px;
    margin: 10px;
}

.projects-button{
    color: white;
    width:20px;
    height:60%;
    text-align: center;
    display:inline;
    padding:7px;
    border-radius:5px;
    margin: 10px;
}

.contact-button{
    color:white;
    width:20px;
    height:60%;
    text-align: center;
    display:inline;
    padding: 7px;
    border-radius:5px;
    margin:10px;
}

.challenge-4-div{
    display:inline-block;
}

.card-1-style{
    background-color:lightgreen;
    color:green;
    border-radius: 7px;
    padding: 30px;
    border: 3px solid green;
    width: 22vw;
    height: 15vh;
    text-align: center;
    margin: 3px;
}

.card-2-style{
    background-color: lightblue;
    color: blue;
    border-radius: 7px;
    padding: 30px;
    border: 3px solid blue;
    width: 22vw;
    height: 15vh;
    text-align: center;
    margin: 3px;
}

.card-3-style{
    background-color: pink;
    color: palevioletred;
    border-radius: 7px;
    padding: 30px;
    border: 3px solid palevioletred;
    width: 22vw;
    height: 15vh;
    text-align: center;
    margin: 3px;
}

.card-4-style{
    background-color: rgb(240, 206, 193);
    color:orange;
    border-radius: 7px;
    padding: 30px;
    border: 3px solid orange;
    width:22vw;
    height:15vh;
    text-align:center;
    margin:3px;
}

.card-5-style{
    background-color: rgb(180, 135, 223);
    color:blueviolet;
    border-radius: 7px;
    padding:30px;
    border:3px solid blueviolet;
    width:22vw;
    height:15vh;
    text-align: center;
    margin: 3px;
}

.card-6-style{
    background-color: rgb(224, 224, 170);
    color: rgba(165, 42, 42, 0.37);
    border-radius: 7px;
    padding: 30px;
    border: 3px solid rgb(85, 85, 19);
    width:22vw;
    height:15vh;
    text-align: center;
    margin: 3px;
}

